.title {
    color: rgba(0, 0, 0, 0.712);
    text-align: center;
    margin-bottom: 1rem;
  }

  .card{
    padding: 10px 117px 33px 95px;
    height: auto;
    width: auto;
    background: whitesmoke !important;
    align-items: center !important;
    margin: 1rem;
    border-radius: 16px;
  }
  .card-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #A349A4 !important;
  }
  .footer-width{
    width: 85vw;
    max-width: 1900px;
    margin: 0rem auto;
  }
  
  @media only screen and (max-width: 620px) {
    .card {
      width: 90vw;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .card {
      height: 650px;
    }
  }
  
  .subtitle {
    color: rgb(218, 218, 218);
    text-align: center;
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.712);

  }
  
  .inputs_container {
    display: flex;
    flex-direction: column;
  }
  
  .inputs_container input {
    width: 95%;
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 0;
  }
  
  .signup_button {
    display: block;
    margin: 1rem auto 1rem auto;
    width: 55%;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #57b846;
    color: white;
    border: 2px solid transparent;
  }
  
  .signup_button:hover {
    border: 2px solid black;
    background-color: #000000;
  }
  
  .link_container {
    display: flex;
    justify-content: center;
  }
  
  .small {
    color: black;
    text-align: center;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 5rem;
    cursor: pointer;
  }

  .small:hover{
    color: blue;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .icon {
    color: rgba(0, 0, 0, 0.712);
    cursor: pointer;
  }
  
  .error_msg {
    color: red;
    padding-left: 1rem;
    font-size: 0.85rem;
    margin: 0;
  }
  
  @media only screen and (max-width: 620px) {
    .inputs_container input {
      width: 100%;
    }
  
    .login_button {
      width: 100%;
    }
  
    .error_msg {
      padding-left: 0.2rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .subtitle {
      margin-bottom: 2rem;
    }
  
    .small {
      margin-bottom: 3rem;
    }
  }
  