.App {
  text-align: center;
} 

.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login{
  padding: 50px 117px 33px 95px;
  min-height: 500px;
  width: 960px;
  background:whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  justify-content: center!important;
}
.auto_hide_flash {
  background-color: transparent;
}

h3{
  line-height: 2.2;
  text-align: center;
  margin-bottom: 35px;
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
  color: rgba(0, 0, 0, 0.668);
  display: block;
}

h5 {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.712);
  cursor: default;
  font-size: 20px;
  text-align: left !important;
}
label{
  display: inline-block;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.712);
  cursor: default;
  font-size: 20px;
  text-align: left !important;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pdfupload {
  font-size: 20px;
  border: gray 1px dashed;
  border-radius: 7px;
}

input[type="file" ] {
  appearance: none;
  background-color: grey;
  cursor: default;
  text-overflow: ellipsis;
  text-align: start;
}

.btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  margin-top: 20px;
}

.btn:hover {
  background-color: black;
  cursor: pointer;
}

h1{
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  color: rgba(0, 0, 0, 0.668);
  display: block;
  text-align: center;
}

.div1style{
  width: 100%;
}

.h3style{
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
}

.table1{
  line-height: 1.9;
  overflow-x: auto;
}

.table2{
  border: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table2 td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

.tabledata1{
  font-weight: bold;
}

.tabledata2{
  word-wrap: break-word;
}

.btn1:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #212529;
  
}

.btn-light {
  background-color: #edf4fb !important;
  border-radius: 15px !important;
  border-color: #68b0f8 !important;
  margin: 5px 5px 5px 2px;
  color: #212529;
  text-shadow: #75befa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #75befa;
  text-decoration: none;
  cursor: pointer;
}

.btn1 {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
}

.details{
  font-size: small;
}

element.style {
  line-height: 1.2 !important;
  text-align: center;
  margin-bottom: 35px;
}

.back-to-home {
    left: 10px;
    top: 10px;
    position: fixed;
    z-index: 9999;
}
/* .email-logo{
  width: 42px;
  height: 42px;
  background-image: url('./ResumeParser/logo.png');
  vertical-align: middle;
  border-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-repeat: no-repeat;
} */

 /* body {
  width: 100%;
  height: 100vh;
  background-image: url('./ResumeParser/dark-gray-wooden-surface-texture-wallpaper.jpg');
  background-repeat: no-repeat;
} */